{:app-name "deltiologue"

 ;; For development only - a local file containing a map of secrets
 :secrets #include #join [#env HOME "/.secrets/secrets.edn"]

 :rhinocratic.deltiologue/app-server
 {:port       #profile {:dev  #long #or [#env DELTIOLOGUE_APP_SERVER_PORT 8080]
                        :prod #long #or [#env DELTIOLOGUE_APP_SERVER_PORT 8080]}
  :database   #ig/ref :rhinocratic.deltiologue/db
  :cookie-key #or [#env DELTIOLOGUE_COOKIE_KEY "1234567890123456"]
  :join?      false
  :ssl        false
  :app        #ig/ref :rhinocratic.deltiologue/app
  :logger     #ig/ref :rhinocratic.deltiologue/logger}

 :rhinocratic.deltiologue/app
 {:db         #ig/ref :rhinocratic.deltiologue/db
  :logger     #ig/ref :rhinocratic.deltiologue/logger
  :profile    #opt :profile}

 :rhinocratic.deltiologue/db
 {:datasource {:dbtype             "postgres"
               :dbname             "deltiologue"
               :username           "deltiologue"
               :connectionInitSql  "COMMIT;" ;; Included because of this issue: https://github.com/brettwooldridge/HikariCP/issues/1369
               :password           #profile {:dev  #or [#env DELTIOLOGUE_PGPASSWORD #ref [:secrets :deltiologue-db-password-dev]]
                                             :prod #or [#env DELTIOLOGUE_PGPASSWORD #ref [:secrets :deltiologue-db-password-prod]]}
               :host               #or [#env DELTIOLOGUE_PGHOST "localhost"]
               :port               #profile {:dev  5432
                                             :prod 5432}
               :auto-commit        true
               :read-only          false
               :connection-timeout 30000
               :validation-timeout 5000
               :idle-timeout       300000
               :max-lifetime       1800000
               :minimum-idle       #profile {:dev  #or [#env DELTIOLOGUE_DB_POOL_MIN_IDLE 10]
                                             :prod #or [#env DELTIOLOGUE_DB_POOL_MIN_IDLE 10]}
               :maximum-pool-size  #profile {:dev  #or [#env DELTIOLOGUE_DB_POOL_MAX_SIZE 2]
                                             :prod #or [#env DELTIOLOGUE_DB_POOL_MAX_SIZE 2]}
               :pool-name          "db-pool"
               :register-mbeans    false
               :driver-class-name  "org.postgis.DriverWrapperAutoprobe"}
  #_#_:logger     #ig/ref :rhinocratic.deltiologue/logger}

 :rhinocratic.deltiologue/logger
 {:global-context {:app-name #ref [:app-name]
                   :profile  #opt :profile}
  :publishers     #profile {:dev  [{:type    :console
                                    :pretty? true}]
                            :prod [{:type   :console
                                    :pretty? true}]}}}